#navbar{
    padding: 5px;
}
#brand{
    margin-left: 10px;
    margin-right: 70px;
    font-style: italic;
}
#navlink{
    margin-right: 40px;
    color:whitesmoke;
    text-decoration: none;
}
#navlink-2{
    color: whitesmoke;
    text-decoration: none;
    margin-right: 20px;
}